    /*Agar judul pada h1 berada di tengah*/
    h1{
    text-align: center;
    }

    /*Memberi warna background pada website*/
    body{
    background-image: linear-gradient(to right, rgb(130, 216, 242), rgb(255, 123, 235));
    }
    
    /*Agar table letaknya center*/
    table{
    margin-left: auto;
    margin-right: auto;
    }

    /*Memberi style pada button kirim*/
    button{
        width: 100px;
        height: 40px;
        padding: 10px;
        color: white;
        background-color: green;
        border:none;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 15px;
        float: left;
        margin-right: 10px;

    }
    
    /*Memberi style pada button restart*/
    input[type="reset"]{
        width: 100px;
        height: 40px;
        padding: 10px;
        color: white;
        background-color: rgb(245, 56, 56);
        border:none;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 15px;
        float: right;
        margin-right: 10px;
    }